.container {
    max-width: 1200px; /* กำหนดความกว้างสูงสุดของกล่อง */
    margin: 0 auto;    /* ดึงให้กล่องอยู่กึ่งกลางหน้าจอ */
    padding: 20px;     /* เผื่อพื้นที่ด้านข้างไม่ให้ชิดจอเวลาจอมือถือเล็กๆ */

}

.hero {
    display: flex;
    flex-direction: column; /* เรียงจากบนลงล่าง */
    align-items: center; /* จัดให้อยู่กึ่งกลางแนวนอน */
    gap: 30px;           /* เว้นระยะระหว่างข้อความกับรูป */
    width: 100%;
}

body {
    font-family: "Inter", sans-serif;
}

.hero-content h1{
    font-size: 80px;       /*ขนาดของตัวอักษร*/
    font-weight: 700;      /*ไม่ได้บอกถึงขนาดจะเล็กหรือใหญ่แต่บอกถึงความหนา บาง ของตัวหนังสือ*/
    line-height: 1.1;     /*การกำหนดระยะห่างระหว่างบรรทัดของข้อความ*/
}

.hero-content p{
    font-size: 26.1px;
    font-weight: 600;
    line-height: 1.3; 
}

.hero-content {
    padding-left: 60px; /* ปรับตัวเลขพิกเซลตามความต้องการว่าอยากให้เขยิบมากแค่ไหน */
}

.hero img{
    height: auto;
    width: 100%;
    border-radius: 20px;
    display: block;      /* เอาช่องว่างใต้รูปออก */
}
